<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
  </head>
  <body>
    <header>
        <nav>
          <img alt="logo" src="/public/images/Beats_Blockchains.png" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/market">Market</a></li>
                <li><a href="/wallet">Wallet</a></li>
                <li><a href="page">Sign In</a></li>
                <li><a href="page">Log In</a></li>
            </ul>
        </nav>
    </header>
      {{{body}}}
  </body>
</html>