<h1>Sign Up</h1>
{{#if errors.length}}
    <h2>Errors:</h2>
    <ul>
        {{#errors}}
            <li>{{this}}</li>
        {{/errors}}
    </ul>
{{/if}}
<form method="POST" action="/users/signup">
    <label>
        First Name:
        <input type="text" name="firstName">
    </label>
    <label>
        Last Name:
        <input type="text" name="lastName">
    </label>
    <label>
        E-Mail:
        <input type="text" name="email">
    </label>
    <label>
        Age:
        <input type="number" name="age">
    </label>
    <label>
        Username:
        <input type="text" name="username">
    </label>
    <label>
        Password:
        <input type="password" name="password">
    </label>
    <label>
        Verify Password:
        <input type="password", name="passwordCopy">
    </label>
    <input type="submit" value="Sign Up">
</form>
<a href="/users/login">Already have an account? Click here to log in.</a>