/* Template */
header ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

header li {
    display: inline;
    padding: 14px 16px;
}

header li a {
    text-decoration: none;
}

header {
    background-color: #6fdd8e;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    background-color: black;
    height: 5px;
    width: 100%;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: auto;
}

/* Wallet CSS starts here */

.money-sum {
    text-align: right;
}

#greeting {
    margin-top: 50px;
    font-weight: normal;
    font-size: 30pt;
}

#total-asset {
    text-align: left;
    font-weight: 500;
    margin-bottom: 10px;
}

#asset-status {
    text-align: left;
    margin-bottom: 10px;
}

.grid-container {
    margin-top: 75px;
    display: grid;
    grid-gap: 90px;
    grid-template-columns: auto auto;
    grid-template-rows: 975px 200px;
    justify-items: stretch;
}

.asset-graph {
    justify-self: end;
}

.sidebar {
    position: sticky;
    top: 50px;
    justify-self: start;
    border-style: solid;
    border-color: #e3e9ed;
    width: 350px;
    /* overflow-x: hidden; */
    padding-top: 15px;
    /* margin-top: 50px; */
}

.summary {
    text-align: left;
    padding: 15px;
    width: 350px;
    border-spacing: 0 8px;
}

.stock-summary {
    text-align: left;
    padding: 0 20px 0 20px;
    width: 350px;
    border-spacing: 0 30px;
}

.sb-headers {
    text-align: left;
    padding: 12px 7px 10px 15px;
}

.share-logo {
    width: 10%;
    margin-right: 5px;
}

.industry-mini {
    display: flex;
    align-items: center;
    padding-bottom: 7.5px;
}

.action {
    text-transform: uppercase;
    color:rgb(136, 136, 115)
}

#no-tra {
    text-align: center;
}

.rt-song-name {
    font-weight: bold;
    padding-bottom: 7.5px;
}

.rt-additional {
    text-align: right;
    width: 150px;
}

.change {
    color: green;
    margin-top: 7.5px;
    text-align: right;
}

/* Owned songs CSS begins */

.owned-songs h1 {
    text-align: left;
    margin-top: 100px;
    font-weight: normal;
    margin-bottom: 15px;
}

.covers {
    max-width: 13%;
    height: auto;
    float: left;
}

.song-name {
    margin-top: 10px;
    text-align: left;
    margin-left: 80px;
    font-size: 20px;
    font-weight: bold;
}

.song-carousel {
    width: 900px;
    border-collapse: separate;
    margin-top: 35px;
    border-spacing: 0px 25px;
}

.song-entry {
    text-align: left;
}

.song-header th {
    height: 45px;
    border-bottom: 1px solid gray;
}

.e {
    text-align: left;
}

.artist {
    margin-left: 80px;
    text-align: left;
    font-size: 18px;
}



/* Owned songs CSS Ends */

/* Wallet CSS ends here */

/* Login/Signup CSS starts here */

.login-and-signup > label {
    display: block;
    margin: 10px;
}

.login-and-signup > [type="submit"] {
    background: #6FDD8E;
    padding: 5px;
}

/* Login/Signup CSS ends here */

body {
    text-align: center;
}

* {
    font-family: "Nanum Gothic", sans-serif;
    padding: 0;
    margin: 0;
}

figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.figures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

figure {
    height: 550px;
    width: 475px;
    background-color: white;
    padding-bottom: 16px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px black;
}

.buy-now {
    font-size: 14px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

/* Home Screen */
.home-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buyNow {
    width: 100%;
    height: 4em;
    background: #6fdd8e;
}

.home-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-rest {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 5em;
    width: 100%;
}

.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 90%;
    margin: 2%;
}
.quote1 {
    background-color: #6fdd8e;
    height: 100%;
    width: 100%;
}
.quote2 {
    background-color: #6fdd8e;
    height: 100%;
    width: 100%;
}

.thin-line {
    background-color: black;
    height: 1px;
    width: 100%;
}

.black-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #000000;
}

.description {
    margin: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 50%;
    background: #6fdd8e;
}

.desc-text {
    font-size: 14px;
}

.table-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
    border-radius: 3px;
    border-spacing: 0px;
}

/* songs css starts here */
.table-details {
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 6%;
    border-radius: 4px;
    border-spacing: 0px;
}

/* td,
th {
    text-align: left;
    padding: 4px;
    border-bottom: 1px solid #090a07;
    border-left: 1px;
    border-right: 1px;
} */

.left-column {
    width: 20%;
    align-content: left;
    /* background-color: #c4d8c4; */
    background-color: rgb(185, 185, 170);
}

.right-column {
    align-content: left;
    background-color: #dddddd;
}

.clickable-row:nth-child(even) {
    background-color: #dddddd;
}

.clickable-row:hover {
    cursor: pointer;
    background-color: rgb(136, 136, 115);
}

.buy-songs {
    margin-top: 3%;
}

.songs-description {
    text-align: center;
    color: #6fdd8e;
    margin-top: 3%;
}
/* songs css ends here */


/* Wallet chart css begins here */
#chartDiv {
    height: 500px;
    width: 850px;
}

/* Wallet chart css ends here */