/* Template */
header ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }
  
header li {
    display: inline;
    padding: 14px 16px;
}

header li a{
    text-decoration: none;
}

header{
    background-color: #6FDD8E;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    background-color: black;
    height: 5px;
    width: 100%;
}

.logo{
    position: absolute;
    left: 0;
    top: 0;
    height:50px;
    width:auto
}

/* Wallet CSS starts here */ 

#wallet-greeting {
    margin-top: 75px;
    margin-bottom: 75px;
}

.tradingview-widget {
    width: 800px;
    height: 450px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 50%;
    margin: 0 auto;
}

.sidebar {
    border-style: solid;
    border-color:#E3E9ED;
    width: 400px;
    overflow-x: hidden;
    padding-top: 30px;
    /* margin-top: 50px; */
}

.summary {
    text-align: left;
    padding: 20px;
    margin: 0 auto;
    width: 530px;
    border-spacing: 0 8px;
}

.stock-summary {
    text-align: left;
    padding: 0 20px 0 20px;
    width: 450px;
    border-spacing: 0 30px;
}

.sb-headers {
    text-align: left;
    padding: 8px 8px 10px 20px;
}

.share-logo {
    width: 10%;
}


.owned-songs h1 {
    margin-top: 5%;
    padding: 20px;
    
}

.dividers {
    width: 50%;
    margin: 0 auto;
}

.covers {
    width: 175px;
}

.change {
    color:red
}

.song-carousel {
    margin: 50px auto;
    table-layout: auto;
    width: 40%;
}
/* Wallet CSS ends here */ 

body{
    text-align: center;
}

* {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0;
    margin: 0;
}

figcaption{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.figures{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

figure{
	height:550px;
	width:475px;
	background-color: white;
	padding-bottom: 16px;
	border-radius: 4px;
	box-shadow: 0px 0px 4px black;
}

.buy-now{
    font-size: 14px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

/* Home Screen */
.home-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buyNow{
    width: 100%;
    height: 4em;
    background: #6FDD8E;
}

.home-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-rest{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 5em;
    width: 100%;
}

.quotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 90%;
    margin: 2%
}
.quote1{
    background-color: #6FDD8E;
    height: 100%;
    width: 100%;
}
.quote2{
    background-color: #6FDD8E;
    height: 100%;
    width: 100%;
}

.thin-line{
    background-color: black;
    height: 1px;
    width: 100%;
}

.black-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #000000;
}

.description{
    margin: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 50%;
    background: #6FDD8E;
}

.desc-text{
    font-size: 14px;
}
