header ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }
  
header li {
    display: inline;
    padding: 14px 16px;
}

header li a{
    text-decoration: none;
}

header{
    background-color: #6FDD8E;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    background-color: black;
    height: 5px;
    width: 100%;
}

.buyNow{
    width: 382px;
    height: 61px;
    background: #6FDD8E;
}

.description{
    width: 685px;
    height: 99px;
    background: #6FDD8E;
}

.desc-text{
    font-size: 14px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.black-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 696px;
    height: 109px;
    background: #000000;
}

.logo{
    position: absolute;
    left: 0;
    top: 0;
    height:50px;
    width:auto
}

/* Wallet CSS starts here */ 

#wallet-greeting {
    margin-top: 75px;
}

.tradingview-widget {
    float: left;
    display: inline;
    width: 45%;
    margin-left: 10%;
    padding-top: 2.5%;
}

.sidebar {
    float: left;
    display: inline;
    height: 100%;
    border-style: solid;
    border-color:#E3E9ED;
    width: 450px;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 30px;
    margin-top: 50px;
}

.summary {
    text-align: left;
    padding: 20px;
    margin: 0 auto;
    width: 600px;
    border-spacing: 0 8px;
}

.sb-headers {
    text-align: left;
    padding: 8px 8px 10px 20px;
}

.share-logo {
    width: 5%;
}

/* Wallet CSS ends here */ 

body{
    text-align: center;
}

* {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0;
    margin: 0;
}