<div class = "figures">
    <figure id = "industriesFigure">
        <img src="/public/images/cali.jpg">
        <figcaption><a href="/industries"><h1>Industries</h1></a> </figcaption>
    </figure>
    <figure id = "musicfigure">
        <img src="/public/images/cali.jpg">
        <figcaption><a href="/music_rights"><h1>Music Rights</h1> </a></figcaption>
    </figure>
</div>